snippet section
/*
##############################################################################################
				${1}
##############################################################################################
*/
endsnippet

snippet fundes
/*
===============================================================================================
	Function: ${1}
===============================================================================================
*/
endsnippet
