snippet section
/**---------------------------------------------------------------------------------------
	${1} */
endsnippet

snippet fundes
/** ${1} **/
endsnippet

snippet minunit
#include "../src/${1}.h"
#include "./minunit/minunit.h"

MU_TEST(test_${2}) {
}

MU_TEST_SUITE(test_suite) {
	MU_RUN_TEST(test_$2)
}

int `!v expand('%:t:r')`()
{
	MU_RUN_SUITE(test_suite);
	MU_REPORT();
	return 0;
}
endsnippet

snippet for
for (size_t ${2:i} = 0; $2 < ${1:count}; ++$2) {
	${3}
}
endsnippet
