snippet section
// ################################################################################################
//										${1}
// ################################################################################################
endsnippet

snippet db "debug! with format param"
		debug!("${1}", ${2});
endsnippet

snippet db, "debug! with format param"
		debug!("${1}", ${2});
endsnippet
